@charset "UTF-8";
*,a{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}
img{
    border: none;
}
.bottom{
    width: 1180px;
    height: 155px;
    float: left;
    margin-top: 40px;
    background: #f2f2f2;
}
.bottom_left,.bottom_right{
    width: 590px;
    height: 155px;
    border: 1px solid #699f00;
    box-sizing: border-box;
    float: left;
}
.bottom_left{
    border-right: 0;
}
.bottom_left_part1{
    width: 590px;
    height: 50px;
    float: left;
}
.bottom_left_part1:hover .bottom_left_part1_p1{
    color: #5aa700;
}
.bottom_left_part1:hover .bottom_left_part1_p2{
    color: #5aa700;
}
.bottom_left_part1_p1,.bottom_left_part1_p2{
    color: #000000;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}
.bottom_left_part1_p2{
    font-size: 16px;
    margin-top: 25px;
}
.bottom_left_part2{
    width: 590px;
    height: 100px;
    float: left;

}
.bottom_left_part2_li{
    width: 590px;
    height: 30px;
    float: left;
}
.bottom_left_part2_a{
    width: 80px;
    height: 30px;
    float: left;
    font-size: 9px;
    line-height: 30px;
    color: #000000;
}
.bottom_left_part2_a:hover{
    color: #5aa700;
}
.somethingOfbottom{
    width: 100%;
    height: 200px;
    float: left;
}
.bottom_right_part2_li{
    width: 570px;
    height: 30px;
    margin-left: 20px;
    float: left;
}
.bottom_right_part2_a{
    width: 185px;
    height: 30px;
    line-height: 30px;
    font-size: 9px;
    float: left;
    color: #000000;
}
.bottom_right_part2_a:hover{
    color: #5aa700;
}
.somethingOfbottom_box{
    width: 1180px;
    height: 200px;
    margin: 0 auto;

}
.somethingOfbottom_div1,.somethingOfbottom_div2,.somethingOfbottom_div3,.somethingOfbottom_div4,.somethingOfbottom_div5{
    height: 60px;
    float: left;
    margin-top: 30px;
}
.somethingOfbottom_div1,.somethingOfbottom_div2{
    width: 190px;
}
.somethingOfbottom_div3{
    width: 230px;
}
.somethingOfbottom_div4{
    width: 280px;
}
.somethingOfbottom_div5{
    width: 290px;
}
.somethingOfbottom_a{

    color: #000000;
    font-size: 9px;
    float: left;
    line-height: 30px;
}
.somethingOfbottom_a:hover{
    color: #5aa700;
}
.somethingOfbottom_forUs{
    width: 840px;
    height: 30px;
    float: left;
    font-size: 9px;
    margin-left: 165px;
}
.somethingOfbottom_forUs_a{
    font-size: 12px;
    color: #101010;
    float: left;
    margin-left: 10px;
    line-height: 30px;
}
.somethingOfbottom_forUs_a:hover{
    color: #5aa700;
}
.cut_line{
    margin-left: 10px;
    float: left;
    font-size: 9px;
    line-height: 30px;
}